{% apply spaceless %}
	<!doctype html>
	<html lang="{{ smartpage.language }}">
	<head>
		{% block head %}
			<title>{{ smartpage.title }}</title>
			<meta charset="utf-8">
			{% for css in smartpage.css %}
				<link rel="stylesheet" type="text/css" href="{{ css }}?v={{ smartpage.clientversion }}" />
			{% endfor %}
			{% if not faviconPath %}{% set faviconPath = "/~favicon/" %}{% endif %}
			<link rel="apple-touch-icon" sizes="57x57" href="{{ faviconPath }}apple-icon-57x57.png">
			<link rel="apple-touch-icon" sizes="60x60" href="{{ faviconPath }}apple-icon-60x60.png">
			<link rel="apple-touch-icon" sizes="72x72" href="{{ faviconPath }}apple-icon-72x72.png">
			<link rel="apple-touch-icon" sizes="76x76" href="{{ faviconPath }}apple-icon-76x76.png">
			<link rel="apple-touch-icon" sizes="114x114" href="{{ faviconPath }}apple-icon-114x114.png">
			<link rel="apple-touch-icon" sizes="120x120" href="{{ faviconPath }}apple-icon-120x120.png">
			<link rel="apple-touch-icon" sizes="144x144" href="{{ faviconPath }}apple-icon-144x144.png">
			<link rel="apple-touch-icon" sizes="152x152" href="{{ faviconPath }}apple-icon-152x152.png">
			<link rel="apple-touch-icon" sizes="180x180" href="{{ faviconPath }}apple-icon-180x180.png">
			<link rel="icon" type="image/png" sizes="192x192" href="{{ faviconPath }}android-icon-192x192.png">
			<link rel="icon" type="image/png" sizes="32x32" href="{{ faviconPath }}favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="96x96" href="{{ faviconPath }}favicon-96x96.png">
			<link rel="icon" type="image/png" sizes="16x16" href="{{ faviconPath }}favicon-16x16.png">
			<link rel="manifest" href="/~favicon/manifest.json">
			<meta name="msapplication-TileColor" content="#ffffff">
			<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
			<meta name="theme-color" content="#ffffff">
		{% endblock %}
	</head>
	<body class="{{ smartpage.bodyclass }}">

	{% with data %}
		{% block content %}{% endblock %}
	{% endwith %}

	{% for js in smartpage.js %}
		<script src="{{ js }}?v={{ smartpage.clientversion }}"></script>
	{% endfor %}

	</body>
	</html>
{% endapply %}